.dashboard {
    padding: 16px;
}

.menu-icon, .close-icon {
    width: 20px;
    margin-right: 20px;
    margin-left: auto;
}

.insight-item {
    height: 350px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.user-name {
    font-size: 1rem;
}